 * {
    list-style: none;
 }
 
 body {
    --main-text-color: #212121;
    --main-text-colorlight: #757575;
    --second-text-color: #2196F3;
    --third-text-color: #FFFFFF;
    --bg-color: #2F303A;
    --bg-colorlight: #F5F4FA;
    --main-font: "Roboto", "Arial", "Impact", sans-serif;

    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.top {
    height: 80px;
    vertical-align: 50%;
}

.top-container {
    display: flex;
    align-items: center;
}

.top-logo {
font-family: "Raleway", sans-serif;
color: var(--second-text-color);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;

margin-right: 93px;
padding-top: 24px;

}

a.top-logo > span {
    color: var(--main-text-color);
}

.top-menu a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
}

.top-menu a:hover {
    color: var(--second-text-color);
}

.top-list {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 32px;
}

.top-list-item {
    margin-right: 50px;
}

.top-list-item:last-child {
    margin: 0;
}

.top-adr {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    padding-top: 32px;
}

.top-adr-item {
    margin-right: 50px;
}

.top-adr a {
    text-decoration: none;
    color: var(--main-text-colorlight);
    font-weight: 500;
}

.top-adr a:hover {
    color: var(--second-text-color);
}

.top-adr a:focus {
    color: var(--second-text-color);
}

.hero {
    color: var(--third-text-color);
    background-color: var(--bg-color);
    height: 600px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.hero-but {
    display: block;
    color: var(--third-text-color);
    background-color: var(--second-text-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;

    padding: 8px 30px;
    border-radius: 4px;
}

.deal {
    height: 769px;
}

.deal-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.deal-container-list {
    display: flex;
    padding-left: 0;
}

.container-item {
    margin-right: 30px;
    
}

.container-item:last-child {
    margin-right: 0px;
}

.pic {
    height: 294px;
}

.deal-titles {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 270px;
    height: 16px;
    margin-top: 94px;
}

.deal-article {
    color: var(--main-text-colorlight);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
   
    width: 270px;
    height: 75px;
}

.team {
    background-color: var(--bg-colorlight);
    height: 648px;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
    margin-top: 94px;
}

.deal-container-list-pic {
    display: flex;
    padding-left: 0;
}

.team-container-list {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.teamit {
    height: 368px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.img-teamit {
    display: block;
    margin-bottom: 30px;
}

.team-titles {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin: 0 0 10px;
    text-align: center;
}

.team-position {
    color: var(--main-text-colorlight);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
    text-align: center;
}

.bott {
    width: inherit;
    color: var(--third-text-color);
    background-color: var(--bg-color);
}

.bott-container {
    display: flex;
    flex-direction: column;
}

.bott-logo {
    font-family: "Raleway", sans-serif;
    color: var(--second-text-color);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-top: 60px;
    margin-bottom: 20px;

}
    
a.bott-logo > span {
    color: var(--third-text-color);
}
    
.bott-adr-info {
    font-style: normal;
    text-decoration: none;
    color: var(--third-text-color);
}
    
.bott-adr-info:hover {
    color: var(--second-text-color);
}
    
.bott-adr-info:focus {
    color: var(--second-text-color);
}

.bott-adr-c {
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
    
.bott-adr-c:hover {
    color: var(--second-text-color);
}
    
.bott-adr-c:focus {
    color: var(--second-text-color);
}

.bott-adr-list {
    padding-left: 0;
}

.bott-adr-item:nth-last-child(n+2) {
    margin-bottom: 9px;
}

.bott-adr-item:nth-last-child(-n+1) {
    margin-bottom: 60px;
}



<!--для portfolio далее--> 

#works {
    background-color: #e5e5e5;
} 

.promo-titles {
    font-family: var(--main-font);
    background-color: var(--bg-colorlight);
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;    
    cursor: pointer;
}

.promo-titles:hover {
    background-color: var(--second-text-color);
    color: var(--third-text-color);
}
    
.demo-titles {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
    
.demo-position {
    color: var(--main-text-colorlight);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
    